/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    font-size: 62.5%;
}

h1 {
    color: pink;
    font-family: fantasy; 
    font-size: 6rem;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    text-shadow: white 0.1rem 0 1rem;
    text-decoration: white underline dotted;
    border-bottom: white 1px dashed;
}


h2{
    font-size: 4rem;
    display: flex;
    justify-content: center;
    font-family: fantasy;
    margin-top: 70px;
    color: white;
}

p{
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    color: pink;
    font-size: 1.5rem;
    border: 1px white dashed;
    text-align: center;
}

img{
    border-radius: 20px;
    border:white 2px solid;
    margin: 10px;
}

body{
    margin-left: 50px;
    margin-right: 50px;
    background-color: black;
}

footer{
    background-color: pink;
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    border-top: 2px white dashed;
}

footer h3{
    color: black;
    font-size: 3rem;
    padding: 30px;
}

header{
    display: flex;
    justify-content: center;
}

header nav{
    display: flex;
    justify-content: center;
}

nav a{
    border: 5px lightcyan solid;
    padding: 5px;
    border-radius: 20px;
    background-color: lightpink;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
}

.main{
    display: flex;
    justify-content: center;
}

.projects{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    align-items: center;
}

.main img{
    width: 90vw;
    height: 600px;
}

.intro p{
    padding: 0px 50px;
    letter-spacing: 1px;
}

@media (max-width: 800px) {
    .main img{
        width: 90vw;
        height: 350px;
    }
    .projects img{
        width: 30vw;
    }
    .projects {
        flex-wrap: wrap-reverse;
    }
}

@media (max-width: 500px){
    .main img{
        width: 90vw;
        height: 200px;
    }
    .projects{
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
}